body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: -moz-linear-gradient();
    height: 100vh;
    background-color: whitesmoke;
    margin: 0;
}

.container {
    background: rgb(241, 237, 237);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#feedback {
    font-weight: bold;
    color: #333;
}
